{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <!-- Add your CSS and other common head elements here -->
    <script>
        const csrfToken = "{{ csrf_token }}";
        document.addEventListener('DOMContentLoaded', function() {
            // Get a reference to the button by its ID
            var myButton = document.getElementById('register_button');
            
            
            // Add a click event listener to the button
            myButton.addEventListener('click', function() {
                var userName = document.getElementById("id_username").value;
                var emaIl = document.getElementById('id_email').value;
                var passwOrd = document.getElementById('id_password1').value;
                // Your code to handle the button click goes here
                //alert('Button clicked!');
                console.log(csrfToken,"ooooooooooooooooo")
                const request_body = {
                    method: "POST",
                    headers: {'Content-Type':'application/json', 'X-CSRFToken': csrfToken},
                    body: JSON.stringify({
                        username:userName,
                        email:emaIl,
                        password:passwOrd
                    })
                }
                console.log(request_body)
                const response = fetch('http://127.0.0.1:8000/api/register/',request_body).then(response => response.json()) // Use .json() to parse the JSON response
                .then(data => {
                    console.log(data);
                    // Handle the response data here
                })
                .catch((e)=>{
                    console.log(e.response.data)
                })
                alert("ttttttttttt")
                // You can replace the alert with your desired actions.
            
                 // Prevent the default form submission
                 
                });
                event.preventDefault();
        });
        </script>
        
</head>

<body>
    <div class="container">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <section class="text-center">
            <!-- Background image -->
            <div class="p-5 bg-image"
                style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 300px;">
            </div>
            <!-- Background image -->

            <div class="card mx-4 mx-md-5 shadow-5-strong"
                style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
                <div class="card-body py-5 px-md-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="fw-bold mb-5">Sign up now</h2>
                            <form method="post" action="{% url 'verify_otp' %}">
                                {% csrf_token %}
                                <p>
                                    <label for="id_username">Username:</label>
                                    <input type="text" id="id_username"  maxlength="150" autofocus required >
                                </p>


                                <p>
                                    <label for="id_email">Email address:</label>
                                    <input type="email" maxlength="254" id="id_email" required>
                                </p>


                                <p>
                                    {% comment %} <label for="id_password1">Password:</label>
                                    <input type="password" name="password1" autocomplete="new-password" required
                                        id="id_password1"> {% endcomment %}
                                    
                                        <label for="id_password1">Password:</label>
                                        {% comment %} <input type="password" name="password1" autocomplete="new-password" required id="id_password1"> {% endcomment %}
                                        <input type="password" required
                                        id="id_password1"
                                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                                        title="Your password must meet the following requirements:
                                        - Must contain at least 8 characters
                                        - Must contain at least one letter, one number, and one special character">

                                    <span class="helptext custom-font">
                                        <ul>
                                            <li>Your password can’t be too similar to your other personal information.
                                            </li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can’t be a commonly used password.</li>
                                            <li>Your password can’t be entirely numeric.</li>
                                        </ul>
                                    </span>
                                </p>
                                <p><button id="register_button" type="submit" class="btn btn-primary btn-block mb-4">Send OTP</button></p>
                                <!-- Rest of your form fields -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>
{% endblock %}