{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% comment %} <title>{% block title %}Quizzy{% endblock %}</title> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Add your CSS and other common head elements here -->
</head>
<body>
    <div class="container-fluid">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    <script>
        if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
            window.location.href = '/'; // Redirect to login page
        }
        window.addEventListener('popstate', function (event) {
            if (document.referrer === "http://127.0.0.1:8000/") {
                history.pushState(null, null, "/index/");
            }
        });
    </script>
</body>
</html>
